.Style1 {
	font-size: small;
	font-weight: bold;
	color: #FFFFFF;
}
a.Style1 {
	text-decoration: underline;
}
a.Style1:hover {
	text-decoration: none;
}
.Style2 {
	font-size: xx-small;
	color: #FFFFFF;
}
a.Style2 {
	text-decoration: underline;
}
a.Style2:hover {
	text-decoration: none;
}
.txtrouge {
	font-size: xx-small;
	color: #FF0000;
	font-weight: bold;
}
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
td.tdover {
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
}
td.tdover:hover {
	border: 1px solid #666666;
}
.fdgris {
	background-color: #666666;
	padding: 4px;
}
.fdcolor1 {
	background-color: #99CCCC;
	padding: 4px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.imageborder {
	border: 1px solid #666666;
}
.legend{
	font-weight: bold;
  
}
/*Tooltip*/
a.tooltip em {
	display:none;
}
a.tooltip:hover {
	border: 0;
	position: relative;
	z-index: 500;
	text-decoration:none;
}
a.tooltip:hover em {
	font-style: normal;
	font-size: small;
	display: block;
	position: absolute;
	top: 30px; /* At least the Height of the image*/
	left: -10px;
	padding: 5px;
	color: #000;
	border: 1px solid #bbb;
	background: #99CCCC;
	width:150%;
	text-align:left;
}
a.tooltip:hover em span {
	position: absolute;
	top: -13px; /* -1 x Height of the image*/
	left: 15px;
	height: 13px; /* Height of the image*/
	width: 25px; /* Width of the image*/
	background: transparent url(tooltip.png);
	margin:0;
	padding: 0;
	border: 0;
}