div .table {
}
div .ligne {
	clear:both;
}
div .cell {
	float: left;
	margin: 2px;
}
div .cell_image {
	border:  5px solid #DDDDDD;
	padding: 0px;
	margin : 0px;
}
div .cell_text {
	border:  5px solid  #DDDDDD;
	background-color: #666666;
	padding: 2px;
	text-align:center;
}
div .footer{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:15px;
}
.Style1 {
	font-size: small;
	font-weight: bold;
	color: #FFFFFF;
}
a.Style1 {
	text-decoration: underline;
}
a.Style1:hover {
	text-decoration: none;
}
.Style2 {
	font-size: xx-small;
	color: #FFFFFF;
}
a.Style2 {
	text-decoration: underline;
}
a.Style2:hover {
	text-decoration: none;
}
.txtrouge {
	font-size: xx-small;
	color: #FF0000;
	font-weight: bold;
}
table{
	margin-left:auto;
	margin-right:auto;
	border :0;
	padding:1px;
	spacing:1px;
}

body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
tr.tddeco {
	border: 1px solid #666666;
}
td.tdover {
	border: 1px solid #666666;
	background-color: #FFFFFF;
}
td.tdover:hover {
	border: 1px solid #666666;
}
td {
	background-color: #DDDDDD;
}

.fdgris {
	background-color: #666666;
	padding: 2px;
}
td.fdgris {
	text-align : center;
}

.fdcolor1 {
	background-color: #99CCCC;
	padding: 4px;
}
body {
	margin: 10px;
}
.imageborder {
	border: 1px solid #666666;
	padding: 0px;
	margin: 0px;
}
.legend{
	font-weight: bold;
  
}
/*Tooltip*/
a.tooltip em {
	display:none;
}
a.tooltip:hover {
	border: 0;
	position: relative;
	z-index: 500;
	text-decoration:none;
}
a.tooltip:hover em {
	font-style: normal;
	font-size: xx-small;
	display: block;
	position: absolute;
	top: 24px; /* At least the Height of the image*/
	left: -5px;
	padding: 5px;
	color: #000;
	border: 1px solid #bbb;
	background: #99CCCC;
	/*width:auto;*/
	text-align:left;
}
a.tooltip:hover em span {
	position: absolute;
	top: -10px; /* -1 x Height of the image*/
	left: 15px;
	height: 10px; /* Height of the image*/
	width: 19px; /* Width of the image*/
	background: transparent url(tooltip.png);
	margin:0;
	padding: 0;
	border: 0;
}